<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>appName</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan Daniel</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>format</key>
	<string>APPL</string>
	<key>images</key>
	<array>
		<dict>
			<key>path</key>
			<string>ropeAssets-568.png</string>
			<key>size</key>
			<string>{127, 56}</string>
			<key>subimages</key>
			<array>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>candy</string>
					<key>spriteOffset</key>
					<string>{7, 3}</string>
					<key>spriteSourceSize</key>
					<string>{65, 61}</string>
					<key>textureRect</key>
					<string>{{2, 2}, {53, 53}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>thumb_tack</string>
					<key>spriteOffset</key>
					<string>{7, 1}</string>
					<key>spriteSourceSize</key>
					<string>{62, 72}</string>
					<key>textureRect</key>
					<string>{{59, 2}, {67, 50}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
