<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>appName</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan Daniel</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>format</key>
	<string>APPL</string>
	<key>images</key>
	<array>
		<dict>
			<key>path</key>
			<string>platformer.png</string>
			<key>size</key>
			<string>{2039, 500}</string>
			<key>subimages</key>
			<array>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>mountain02.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{874, 232}</string>
					<key>textureRect</key>
					<string>{{1131, 2}, {874, 232}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>bush.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{83, 65}</string>
					<key>textureRect</key>
					<string>{{564, 419}, {65, 83}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>mountain03.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{1125, 277}</string>
					<key>textureRect</key>
					<string>{{2, 2}, {1125, 277}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>brick.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{128, 128}</string>
					<key>textureRect</key>
					<string>{{566, 283}, {128, 128}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>mushrooms.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{128, 103}</string>
					<key>textureRect</key>
					<string>{{696, 284}, {103, 128}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>smallTreeDark.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{18, 29}</string>
					<key>textureRect</key>
					<string>{{2007, 6}, {29, 18}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>clouds.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{82, 53}</string>
					<key>textureRect</key>
					<string>{{633, 419}, {53, 82}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>monkey.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{70, 84}</string>
					<key>textureRect</key>
					<string>{{682, 411}, {70, 84}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>mountain01.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{560, 182}</string>
					<key>textureRect</key>
					<string>{{2, 283}, {560, 182}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>smallTree.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{18, 29}</string>
					<key>textureRect</key>
					<string>{{2007, 28}, {29, 18}}</string>
					<key>textureRotated</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
