<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.5, 0.5}</string>
	<key>assetUUID</key>
	<string>917D0770-074D-49EE-ADDE-FDE073AB5712</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>canBeCut</key>
			<true/>
			<key>collideConnected</key>
			<false/>
			<key>colorOverlay</key>
			<string>{{0.2863631546497345, 1}, {0.41446211934089661, 1}}</string>
			<key>fadeOutDelay</key>
			<real>1</real>
			<key>length</key>
			<real>213.37356567382812</real>
			<key>name</key>
			<string>UntitledRopeJoint</string>
			<key>nodeType</key>
			<string>LHRopeJoint</string>
			<key>parentUUID</key>
			<string>B648BD69-BF87-4949-92C3-228FE553B431</string>
			<key>relativePosA</key>
			<string>{-5.6843418860808015e-14, 0}</string>
			<key>relativePosB</key>
			<string>{0, 0}</string>
			<key>removeAfterCut</key>
			<true/>
			<key>segments</key>
			<real>22</real>
			<key>shouldDraw</key>
			<true/>
			<key>spriteAUUID</key>
			<string>36D78A98-F20D-4CFB-91DC-8BB50D31EFEC</string>
			<key>spriteBUUID</key>
			<string>32BBF055-AC6F-4813-8FCB-B7845014C34B</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>thickness</key>
			<real>5</real>
			<key>useTexture</key>
			<false/>
			<key>uuid</key>
			<string>9F4F4381-ADC8-4A72-ADF5-DB4A8B7711DD</string>
			<key>uvRepetitions</key>
			<string>{1, 1}</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.039338753191016922, 0.059406568259873893}</string>
			<key>imageFileName</key>
			<string>ropeAssets.png</string>
			<key>name</key>
			<string>candy</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>1</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>B648BD69-BF87-4949-92C3-228FE553B431</string>
			<key>relativeImagePath</key>
			<string>levels/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{65, 61}</string>
			<key>spriteName</key>
			<string>candy</string>
			<key>spriteUUID</key>
			<string>554683CF-2615-41EF-956A-933D6F02D016</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>32BBF055-AC6F-4813-8FCB-B7845014C34B</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{-0.036103660012789439, -0.063615575368748983}</string>
			<key>imageFileName</key>
			<string>ropeAssets.png</string>
			<key>name</key>
			<string>thumb</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>B648BD69-BF87-4949-92C3-228FE553B431</string>
			<key>relativeImagePath</key>
			<string>levels/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{62, 72}</string>
			<key>spriteName</key>
			<string>thumb_tack</string>
			<key>spriteUUID</key>
			<string>B647FA4A-442F-4032-8164-8FEF3601430D</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>36D78A98-F20D-4CFB-91DC-8BB50D31EFEC</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1, 1}, {1, 1}}</string>
	<key>generalPosition</key>
	<string>{0.066666666666666666, 0.10000000000000001}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>A3F0A8A8-CA41-406E-98C7-3166563ED4D5</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1, 1}</string>
	<key>size</key>
	<string>{174.12460327148438, 172.43754577636719}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>B648BD69-BF87-4949-92C3-228FE553B431</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
