<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>2</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.37129556479436965, 0.1134229986999344}</string>
			<key>imageFileName</key>
			<string>ropeAssets.png</string>
			<key>name</key>
			<string>candy</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.80000001192092896</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>1</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>17280D9C-7F7E-4545-8A60-92ADA6E5EA05</string>
			<key>relativeImagePath</key>
			<string>levels/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{65, 61}</string>
			<key>spriteName</key>
			<string>candy</string>
			<key>spriteUUID</key>
			<string>554683CF-2615-41EF-956A-933D6F02D016</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>F017E35A-CF18-4E52-9A29-C6F78918A2FF</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{0.12730532884597778, 0.88089734315872192}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.74841118181745214, 0.22032546468090003}</string>
			<key>name</key>
			<string>UntitledTexturedShape</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.80000001192092896</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHTexturedShape</string>
			<key>parentUUID</key>
			<string>17280D9C-7F7E-4545-8A60-92ADA6E5EA05</string>
			<key>points</key>
			<array>
				<dict>
					<key>point</key>
					<string>{-47.341922760009766, -80.130867004394531}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{15.940631884523896, 48.931381243654755}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{36.581516265869141, -39.333209991455078}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{193.95755003075931, 60.928251761385468}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-148.89738910086453, 115.8152380771935}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-59.599728882312775, 30.77148674800992}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-70.453634165227413, -28.13867349922657}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-193.95754671096802, 70.783981323242188}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-171.76666261572507, -86.52591707129146}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-101.05598449707033, -115.81523895263672}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{156.34532167334226, -91.424354571291488}</string>
				</dict>
			</array>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{387.91510009765625, 231.63047790527344}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>triangles</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-101.05598449707033, -115.81523895263672}</string>
					<key>uv</key>
					<string>{0.5, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{156.34532167334226, -91.424354571291488}</string>
					<key>uv</key>
					<string>{0.77621358633041382, 0.22378641366958618}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-47.341922760009766, -80.130867004394531}</string>
					<key>uv</key>
					<string>{0.890625, 0.5}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-70.453634165227413, -28.13867349922657}</string>
					<key>uv</key>
					<string>{0.5, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-193.95754671096802, 70.783981323242188}</string>
					<key>uv</key>
					<string>{0.890625, 0.5}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-171.76666261572507, -86.52591707129146}</string>
					<key>uv</key>
					<string>{0.77621358633041382, 0.77621358633041382}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-70.453634165227413, -28.13867349922657}</string>
					<key>uv</key>
					<string>{0.22378641366958618, 0.22378641366958618}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-171.76666261572507, -86.52591707129146}</string>
					<key>uv</key>
					<string>{0.5, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-101.05598449707033, -115.81523895263672}</string>
					<key>uv</key>
					<string>{0.77621358633041382, 0.77621358633041382}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-70.453634165227413, -28.13867349922657}</string>
					<key>uv</key>
					<string>{0.22378641366958618, 0.22378641366958618}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-101.05598449707033, -115.81523895263672}</string>
					<key>uv</key>
					<string>{0.77621358633041382, 0.77621358633041382}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-47.341922760009766, -80.130867004394531}</string>
					<key>uv</key>
					<string>{0.5, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-70.453634165227413, -28.13867349922657}</string>
					<key>uv</key>
					<string>{0.22378641366958618, 0.22378641366958618}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-47.341922760009766, -80.130867004394531}</string>
					<key>uv</key>
					<string>{0.5, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{15.940631884523896, 48.931381243654755}</string>
					<key>uv</key>
					<string>{0.22378641366958618, 0.77621358633041382}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-59.599728882312775, 30.77148674800992}</string>
					<key>uv</key>
					<string>{0.22378641366958618, 0.22378641366958618}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-70.453634165227413, -28.13867349922657}</string>
					<key>uv</key>
					<string>{0.22378641366958618, 0.77621358633041382}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{15.940631884523896, 48.931381243654755}</string>
					<key>uv</key>
					<string>{0.109375, 0.5}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{15.940631884523896, 48.931381243654755}</string>
					<key>uv</key>
					<string>{0.23948942124843597, -2.0443264858727161e-08}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{36.581516265869141, -39.333209991455078}</string>
					<key>uv</key>
					<string>{0.3779580295085907, 0.19123536348342896}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{193.95755003075931, 60.928251761385468}</string>
					<key>uv</key>
					<string>{0.057205528020858765, 0.1569637805223465}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{15.940631884523896, 48.931381243654755}</string>
					<key>uv</key>
					<string>{0.31837871670722961, 0.46986564993858337}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{193.95755003075931, 60.928251761385468}</string>
					<key>uv</key>
					<string>{0.3779580295085907, 0.19123536348342896}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-148.89738910086453, 115.8152380771935}</string>
					<key>uv</key>
					<string>{0.52425628900527954, 0.42183768749237061}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-59.599728882312775, 30.77148674800992}</string>
					<key>uv</key>
					<string>{0.31837871670722961, 0.46986564993858337}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{15.940631884523896, 48.931381243654755}</string>
					<key>uv</key>
					<string>{0.52425628900527954, 0.42183768749237061}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>point</key>
					<string>{-148.89738910086453, 115.8152380771935}</string>
					<key>uv</key>
					<string>{0.34635883569717407, 0.78556990623474121}</string>
				</dict>
			</array>
			<key>uuid</key>
			<string>484A4C01-2BEB-462A-BCA7-E9C2803181E6</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>closed</key>
			<false/>
			<key>colorOverlay</key>
			<string>{{0, 0.79409283399581909}, {0.12795272469520569, 1}}</string>
			<key>generalPosition</key>
			<string>{0.53401665824402, 0.68954921920710821}</string>
			<key>name</key>
			<string>UntitledBezier</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>3</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHBezier</string>
			<key>parentUUID</key>
			<string>17280D9C-7F7E-4545-8A60-92ADA6E5EA05</string>
			<key>points</key>
			<array>
				<dict>
					<key>ctrl1</key>
					<string>{-465.18711090087891, -193.54802703857422}</string>
					<key>ctrl2</key>
					<string>{-465.18711090087891, -193.54802703857422}</string>
					<key>hasCtrl1</key>
					<true/>
					<key>hasCtrl2</key>
					<true/>
					<key>mainPt</key>
					<string>{-465.18711090087891, -293.54802703857422}</string>
				</dict>
				<dict>
					<key>ctrl1</key>
					<string>{-88.983992370776832, 165.47227317653596}</string>
					<key>ctrl2</key>
					<string>{-88.983992370776832, 145.47227317653596}</string>
					<key>hasCtrl1</key>
					<true/>
					<key>hasCtrl2</key>
					<false/>
					<key>mainPt</key>
					<string>{-88.983992370776832, 155.47227317653596}</string>
				</dict>
				<dict>
					<key>ctrl1</key>
					<string>{-88.777744923718274, 311.2824229169637}</string>
					<key>ctrl2</key>
					<string>{195.87304242979735, 197.72226514108479}</string>
					<key>hasCtrl1</key>
					<false/>
					<key>hasCtrl2</key>
					<true/>
					<key>mainPt</key>
					<string>{-88.777744923718274, 301.2824229169637}</string>
				</dict>
				<dict>
					<key>ctrl1</key>
					<string>{465.18712615966797, -201.28240203857422}</string>
					<key>ctrl2</key>
					<string>{465.18712615966797, -201.28240203857422}</string>
					<key>hasCtrl1</key>
					<true/>
					<key>hasCtrl2</key>
					<true/>
					<key>mainPt</key>
					<string>{465.18712615966797, -301.28240203857422}</string>
				</dict>
			</array>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{0.91390711069107056, 0.48317250609397888}</string>
			<key>size</key>
			<string>{930.374267578125, 602.56488037109375}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>59CF5E77-9463-487B-8F88-41C0278E033D</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>178.5</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{0.22352941334247589, 0.34509804844856262}, {0.47450980544090271, 1}}</string>
			<key>generalPosition</key>
			<string>{0.51014537811279292, 0.70832633972167969}</string>
			<key>height</key>
			<real>60</real>
			<key>name</key>
			<string>UntitledWaterArea</string>
			<key>nodeType</key>
			<string>LHWaves</string>
			<key>numLines</key>
			<real>100</real>
			<key>parentUUID</key>
			<string>17280D9C-7F7E-4545-8A60-92ADA6E5EA05</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{14.940072059631348, 5.106898307800293}</string>
			<key>size</key>
			<string>{60, 60}</string>
			<key>splash</key>
			<true/>
			<key>splashH</key>
			<real>9.1000003814697266</real>
			<key>splashT</key>
			<real>30</real>
			<key>splashW</key>
			<real>20</real>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>turbulence</key>
			<true/>
			<key>turbulenceH</key>
			<real>4.0999999046325684</real>
			<key>turbulenceL</key>
			<real>2.5</real>
			<key>turbulenceV</key>
			<real>0.10000000894069672</real>
			<key>turbulenceVelocity</key>
			<real>1.3999999761581421</real>
			<key>uuid</key>
			<string>0282FE55-5C7B-474A-BEF2-15640E829669</string>
			<key>waterDensity</key>
			<real>1.8999999761581421</real>
			<key>width</key>
			<real>60</real>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.16870187942122533, 0.21443287569147246}</string>
			<key>name</key>
			<string>UntitledNode</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>ovalShape</key>
				<array>
					<array>
						<string>{-48.983479342731485, 118.2565801614447}</string>
						<string>{-71.11298982650905, 106.42811037472582}</string>
						<string>{-90.509667991878075, 90.509667991878089}</string>
					</array>
					<array>
						<string>{-24.971561218064409, 125.5405158916135}</string>
						<string>{-48.983479342731485, 118.2565801614447}</string>
						<string>{-90.509667991878075, 90.509667991878089}</string>
					</array>
					<array>
						<string>{7.8377395145430605e-15, 128}</string>
						<string>{-24.971561218064409, 125.5405158916135}</string>
						<string>{-90.509667991878075, 90.509667991878089}</string>
					</array>
					<array>
						<string>{24.971561218064423, 125.5405158916135}</string>
						<string>{7.8377395145430605e-15, 128}</string>
						<string>{-90.509667991878075, 90.509667991878089}</string>
					</array>
					<array>
						<string>{48.983479342731499, 118.2565801614447}</string>
						<string>{24.971561218064423, 125.5405158916135}</string>
						<string>{-90.509667991878075, 90.509667991878089}</string>
					</array>
					<array>
						<string>{71.112989826509093, 106.42811037472578}</string>
						<string>{48.983479342731499, 118.2565801614447}</string>
						<string>{-90.509667991878075, 90.509667991878089}</string>
					</array>
					<array>
						<string>{71.112989826509093, 106.42811037472578}</string>
						<string>{-90.509667991878075, 90.509667991878089}</string>
						<string>{-106.4281103747258, 71.112989826509079}</string>
					</array>
					<array>
						<string>{71.112989826509093, 106.42811037472578}</string>
						<string>{-106.4281103747258, 71.112989826509079}</string>
						<string>{-118.2565801614447, 48.983479342731499}</string>
					</array>
					<array>
						<string>{71.112989826509093, 106.42811037472578}</string>
						<string>{-118.2565801614447, 48.983479342731499}</string>
						<string>{-125.5405158916135, 24.971561218064458}</string>
					</array>
					<array>
						<string>{71.112989826509093, 106.42811037472578}</string>
						<string>{-125.5405158916135, 24.971561218064458}</string>
						<string>{-128, 1.5675479029086121e-14}</string>
					</array>
					<array>
						<string>{71.112989826509093, 106.42811037472578}</string>
						<string>{-128, 1.5675479029086121e-14}</string>
						<string>{-125.5405158916135, -24.97156121806443}</string>
					</array>
					<array>
						<string>{71.112989826509093, 106.42811037472578}</string>
						<string>{-125.5405158916135, -24.97156121806443}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{90.509667991878089, 90.509667991878075}</string>
						<string>{71.112989826509093, 106.42811037472578}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{106.42811037472579, 71.112989826509079}</string>
						<string>{90.509667991878089, 90.509667991878075}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{118.2565801614447, 48.983479342731492}</string>
						<string>{106.42811037472579, 71.112989826509079}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{125.5405158916135, 24.971561218064416}</string>
						<string>{118.2565801614447, 48.983479342731492}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{128, 0}</string>
						<string>{125.5405158916135, 24.971561218064416}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{125.54051589161348, -24.971561218064476}</string>
						<string>{128, 0}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{118.25658016144467, -48.98347934273157}</string>
						<string>{125.54051589161348, -24.971561218064476}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{106.42811037472579, -71.112989826509079}</string>
						<string>{118.25658016144467, -48.98347934273157}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{90.509667991878075, -90.509667991878104}</string>
						<string>{106.42811037472579, -71.112989826509079}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{71.112989826509036, -106.42811037472583}</string>
						<string>{90.509667991878075, -90.509667991878104}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{48.98347934273152, -118.25658016144469}</string>
						<string>{71.112989826509036, -106.42811037472583}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{24.971561218064419, -125.5405158916135}</string>
						<string>{48.98347934273152, -118.25658016144469}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{-2.351321854362918e-14, -128}</string>
						<string>{24.971561218064419, -125.5405158916135}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{-24.971561218064469, -125.54051589161348}</string>
						<string>{-2.351321854362918e-14, -128}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{-48.983479342731563, -118.25658016144467}</string>
						<string>{-24.971561218064469, -125.54051589161348}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{-71.112989826509079, -106.42811037472579}</string>
						<string>{-48.983479342731563, -118.25658016144467}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
					</array>
					<array>
						<string>{-71.112989826509079, -106.42811037472579}</string>
						<string>{-118.2565801614447, -48.983479342731478}</string>
						<string>{-106.42811037472582, -71.11298982650905}</string>
					</array>
					<array>
						<string>{-71.112989826509079, -106.42811037472579}</string>
						<string>{-106.42811037472582, -71.11298982650905}</string>
						<string>{-90.509667991878104, -90.509667991878075}</string>
					</array>
				</array>
				<key>shape</key>
				<integer>4</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>17280D9C-7F7E-4545-8A60-92ADA6E5EA05</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{256, 256}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>EB22FB7A-CB36-4425-8B94-C06A45621751</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string></string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>-568</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>-ipad@2x</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>17280D9C-7F7E-4545-8A60-92ADA6E5EA05</string>
</dict>
</plist>
