<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>0</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array>
				<dict>
					<key>active</key>
					<true/>
					<key>fps</key>
					<integer>30</integer>
					<key>name</key>
					<string>positionAnim</string>
					<key>properties</key>
					<dict>
						<key>Opacity</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>opacities</key>
									<dict>
										<key>809E7AA4-3D3A-48AE-A615-A89849A985E0</key>
										<real>255</real>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>19</integer>
									<key>opacities</key>
									<dict>
										<key>809E7AA4-3D3A-48AE-A615-A89849A985E0</key>
										<real>171.12030029296875</real>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>49</integer>
									<key>opacities</key>
									<dict>
										<key>809E7AA4-3D3A-48AE-A615-A89849A985E0</key>
										<real>255</real>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>59</integer>
									<key>opacities</key>
									<dict>
										<key>809E7AA4-3D3A-48AE-A615-A89849A985E0</key>
										<real>255</real>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>69</integer>
									<key>opacities</key>
									<dict>
										<key>809E7AA4-3D3A-48AE-A615-A89849A985E0</key>
										<real>255</real>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>99</integer>
									<key>opacities</key>
									<dict/>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>119</integer>
									<key>opacities</key>
									<dict>
										<key>809E7AA4-3D3A-48AE-A615-A89849A985E0</key>
										<real>255</real>
									</dict>
								</dict>
							</array>
							<key>type</key>
							<string>LHOpacityProperty</string>
						</dict>
						<key>Position</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>positions</key>
									<dict>
										<key>809E7AA4-3D3A-48AE-A615-A89849A985E0</key>
										<string>{77.628117725253105, 133.706248331815}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>59</integer>
									<key>positions</key>
									<dict>
										<key>809E7AA4-3D3A-48AE-A615-A89849A985E0</key>
										<string>{902.94644975662231, 580.42635917663574}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>119</integer>
									<key>positions</key>
									<dict>
										<key>809E7AA4-3D3A-48AE-A615-A89849A985E0</key>
										<string>{77.628117725253105, 133.706248331815}</string>
									</dict>
								</dict>
							</array>
							<key>type</key>
							<string>LHPositionProperty</string>
						</dict>
						<key>Rotation</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>rotations</key>
									<dict/>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>59</integer>
									<key>rotations</key>
									<dict>
										<key>809E7AA4-3D3A-48AE-A615-A89849A985E0</key>
										<real>162.522216796875</real>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>119</integer>
									<key>rotations</key>
									<dict/>
								</dict>
							</array>
							<key>type</key>
							<string>LHRotationProperty</string>
						</dict>
						<key>Scale</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>scales</key>
									<dict>
										<key>809E7AA4-3D3A-48AE-A615-A89849A985E0</key>
										<string>{1, 1}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>59</integer>
									<key>scales</key>
									<dict>
										<key>809E7AA4-3D3A-48AE-A615-A89849A985E0</key>
										<string>{2.4823918342590332, 1.8174285888671875}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>119</integer>
									<key>scales</key>
									<dict>
										<key>809E7AA4-3D3A-48AE-A615-A89849A985E0</key>
										<string>{1, 1}</string>
									</dict>
								</dict>
							</array>
							<key>type</key>
							<string>LHScaleProperty</string>
						</dict>
						<key>Sprite Frame</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>spriteSheetName</key>
									<string>object_canteen</string>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>59</integer>
									<key>spriteSheetName</key>
									<string>object_statue</string>
								</dict>
							</array>
							<key>type</key>
							<string>LHSpriteFrameProperty</string>
						</dict>
					</dict>
					<key>repetitions</key>
					<integer>0</integer>
					<key>totalFrames</key>
					<integer>120</integer>
				</dict>
				<dict>
					<key>active</key>
					<false/>
					<key>fps</key>
					<integer>24</integer>
					<key>name</key>
					<string>another</string>
					<key>properties</key>
					<dict/>
					<key>repetitions</key>
					<integer>1</integer>
					<key>totalFrames</key>
					<integer>60</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.080862622630471989, 0.20891601301846094}</string>
			<key>imageFileName</key>
			<string>objects.png</string>
			<key>name</key>
			<string>object_canteen</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>271A7AB6-0747-476B-B308-3A95E7115D46</string>
			<key>relativeImagePath</key>
			<string>levels/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{60, 78}</string>
			<key>spriteName</key>
			<string>object_canteen</string>
			<key>spriteUUID</key>
			<string>C3F38C64-C80F-4AC6-BA50-91147927289B</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>809E7AA4-3D3A-48AE-A615-A89849A985E0</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string></string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>-568</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>-ipad@2x</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>271A7AB6-0747-476B-B308-3A95E7115D46</string>
</dict>
</plist>
