<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>0</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.27593180010929547, 0.15057250534155173}</string>
			<key>imageFileName</key>
			<string>objects.png</string>
			<key>name</key>
			<string>object</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>fixtureUUID</key>
				<string>D8A29557-3EC5-4778-8197-116631232F82</string>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>5</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>D4DDCB2C-0764-4967-86B7-093003F07FB4</string>
			<key>relativeImagePath</key>
			<string>levels/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{61, 134}</string>
			<key>spriteName</key>
			<string>object_pineapple</string>
			<key>spriteUUID</key>
			<string>072F5BA2-FB8C-4349-BB62-DFB06F1A6E47</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>8BC373F4-E7AD-480B-B841-D5B21178D28C</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>areaSize</key>
			<string>{128, 128}</string>
			<key>direction</key>
			<string>{0, 1}</string>
			<key>force</key>
			<real>10</real>
			<key>generalPosition</key>
			<string>{0.78157437642415362, 0.72848381996154787}</string>
			<key>name</key>
			<string>UntitledGravityArea_1</string>
			<key>nodeType</key>
			<string>LHAreaGravity</string>
			<key>parentUUID</key>
			<string>D4DDCB2C-0764-4967-86B7-093003F07FB4</string>
			<key>scale</key>
			<string>{3.0332081317901611, 2.4938836097717285}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>type</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>84094EC4-9952-4962-8454-A06A77A8C3A8</string>
		</dict>
		<dict>
			<key>areaSize</key>
			<string>{128, 128}</string>
			<key>direction</key>
			<string>{1, 0}</string>
			<key>force</key>
			<real>10</real>
			<key>generalPosition</key>
			<string>{0.29939330418904625, 0.86575880050659182}</string>
			<key>name</key>
			<string>UntitledGravityArea</string>
			<key>nodeType</key>
			<string>LHAreaGravity</string>
			<key>parentUUID</key>
			<string>D4DDCB2C-0764-4967-86B7-093003F07FB4</string>
			<key>scale</key>
			<string>{4.1024594306945801, 1.1211354732513428}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>type</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>C44805DA-4FB9-4FC2-95C2-56DE6CF9255E</string>
		</dict>
		<dict>
			<key>areaSize</key>
			<string>{128, 128}</string>
			<key>direction</key>
			<string>{-0.99999999999999623, 8.7422780003724745e-08}</string>
			<key>force</key>
			<real>10</real>
			<key>generalPosition</key>
			<string>{0.78477668762207031, 0.23709943294525146}</string>
			<key>name</key>
			<string>UntitledGravityArea_2</string>
			<key>nodeType</key>
			<string>LHAreaGravity</string>
			<key>parentUUID</key>
			<string>D4DDCB2C-0764-4967-86B7-093003F07FB4</string>
			<key>scale</key>
			<string>{3.1112964153289795, 2.2755494117736816}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>type</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>9FCD4817-CE51-4B3A-9348-0989E5267186</string>
		</dict>
		<dict>
			<key>areaSize</key>
			<string>{128, 128}</string>
			<key>direction</key>
			<string>{0, 1}</string>
			<key>force</key>
			<real>30</real>
			<key>generalPosition</key>
			<string>{0.28545424143473308, 0.4261474609375}</string>
			<key>name</key>
			<string>UntitledGravityArea_3</string>
			<key>nodeType</key>
			<string>LHAreaGravity</string>
			<key>parentUUID</key>
			<string>D4DDCB2C-0764-4967-86B7-093003F07FB4</string>
			<key>scale</key>
			<string>{4.0110163688659668, 4.0110163688659668}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>type</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>A0C4A367-BC5E-40B4-A6BE-683983511BC7</string>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string></string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>-568</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>-ipad@2x</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>physicsBoundaries</key>
	<dict>
		<key>960x640</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>general</key>
		<string>{{0, 0}, {1, 1}}</string>
	</dict>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>tracedFixtures</key>
	<dict>
		<key>D8A29557-3EC5-4778-8197-116631232F82</key>
		<array>
			<array>
				<string>{4.75, -25.75}</string>
				<string>{14.25, -35.25}</string>
				<string>{12.25, -31.75}</string>
			</array>
			<array>
				<string>{4.75, -25.75}</string>
				<string>{12.25, -31.75}</string>
				<string>{10.75, -26.75}</string>
			</array>
			<array>
				<string>{0.75, -43.25}</string>
				<string>{6.25, -49.25}</string>
				<string>{4.75, -36.25}</string>
				<string>{-5.25, -30.75}</string>
			</array>
			<array>
				<string>{-13.25, -7.25}</string>
				<string>{-17.75, -9.75}</string>
				<string>{-7.75, -11.25}</string>
			</array>
			<array>
				<string>{-12.75, -26.75}</string>
				<string>{-17.75, -33.75}</string>
				<string>{-5.25, -30.75}</string>
			</array>
			<array>
				<string>{9.75, -15.25}</string>
				<string>{15.75, -19.25}</string>
				<string>{13.25, -6.75}</string>
			</array>
			<array>
				<string>{-5.75, -53.75}</string>
				<string>{-3.25, -61.25}</string>
				<string>{-2.75, -61.75}</string>
				<string>{0.75, -43.25}</string>
				<string>{-5.25, -30.75}</string>
			</array>
			<array>
				<string>{-5.25, -30.75}</string>
				<string>{4.75, -36.25}</string>
				<string>{4.75, -25.75}</string>
				<string>{-7.75, -11.25}</string>
			</array>
			<array>
				<string>{4.75, -25.75}</string>
				<string>{10.75, -26.75}</string>
				<string>{9.75, -15.25}</string>
				<string>{-7.75, -11.25}</string>
			</array>
			<array>
				<string>{13.25, -6.75}</string>
				<string>{10.75, -2.75}</string>
				<string>{-8.25, -2.25}</string>
				<string>{-13.25, -7.25}</string>
				<string>{-7.75, -11.25}</string>
				<string>{9.75, -15.25}</string>
			</array>
			<array>
				<string>{-7.75, -11.25}</string>
				<string>{-12.75, -26.75}</string>
				<string>{-5.25, -30.75}</string>
			</array>
			<array>
				<string>{24.75, 17.75}</string>
				<string>{24.75, 44.25}</string>
				<string>{-21.75, 18.75}</string>
			</array>
			<array>
				<string>{19.75, 5.25}</string>
				<string>{24.75, 17.75}</string>
				<string>{-21.75, 18.75}</string>
			</array>
			<array>
				<string>{13.25, -1.25}</string>
				<string>{19.75, 5.25}</string>
				<string>{-21.75, 18.75}</string>
			</array>
			<array>
				<string>{13.25, -1.25}</string>
				<string>{-21.75, 18.75}</string>
				<string>{-21.25, 14.75}</string>
			</array>
			<array>
				<string>{13.25, -1.25}</string>
				<string>{-21.25, 14.75}</string>
				<string>{-17.25, 6.25}</string>
			</array>
			<array>
				<string>{13.25, -1.25}</string>
				<string>{-17.25, 6.25}</string>
				<string>{-11.75, -0.25}</string>
			</array>
			<array>
				<string>{13.25, -1.25}</string>
				<string>{-11.75, -0.25}</string>
				<string>{-8.25, -2.25}</string>
			</array>
			<array>
				<string>{13.25, -1.25}</string>
				<string>{-8.25, -2.25}</string>
				<string>{10.75, -2.75}</string>
			</array>
			<array>
				<string>{-23.75, 24.25}</string>
				<string>{-21.75, 18.75}</string>
				<string>{24.75, 44.25}</string>
			</array>
			<array>
				<string>{-22.75, 42.75}</string>
				<string>{-23.75, 24.25}</string>
				<string>{24.75, 44.25}</string>
			</array>
			<array>
				<string>{-22.75, 42.75}</string>
				<string>{24.75, 44.25}</string>
				<string>{21.75, 52.75}</string>
			</array>
			<array>
				<string>{-22.75, 42.75}</string>
				<string>{21.75, 52.75}</string>
				<string>{14.25, 61.25}</string>
			</array>
			<array>
				<string>{-21.25, 48.25}</string>
				<string>{-22.75, 42.75}</string>
				<string>{14.25, 61.25}</string>
			</array>
			<array>
				<string>{-17.75, 55.25}</string>
				<string>{-21.25, 48.25}</string>
				<string>{14.25, 61.25}</string>
			</array>
			<array>
				<string>{-10.75, 62.25}</string>
				<string>{-17.75, 55.25}</string>
				<string>{14.25, 61.25}</string>
			</array>
			<array>
				<string>{-7.75, 63.25}</string>
				<string>{-10.75, 62.25}</string>
				<string>{14.25, 61.25}</string>
			</array>
			<array>
				<string>{9.75, 63.25}</string>
				<string>{-7.75, 63.25}</string>
				<string>{14.25, 61.25}</string>
			</array>
		</array>
	</dict>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>D4DDCB2C-0764-4967-86B7-093003F07FB4</string>
</dict>
</plist>
