<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspect</key>
	<integer>2</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.5, 0.5}</string>
			<key>imageFileName</key>
			<string>bgrd.png</string>
			<key>name</key>
			<string>bgrd.png</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>EAE5CE96-2701-4233-A8FD-750A01F9FCB5</string>
			<key>relativeImagePath</key>
			<string>images/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{960, 640}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>6FC9EDF1-F01C-4730-9F60-C40B11043EA7</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>activeCamera</key>
			<true/>
			<key>generalPosition</key>
			<string>{0.5, 0.5}</string>
			<key>name</key>
			<string>UntitledCamera</string>
			<key>nodeType</key>
			<string>LHCamera</string>
			<key>parentUUID</key>
			<string>EAE5CE96-2701-4233-A8FD-750A01F9FCB5</string>
			<key>restrictToGameWorld</key>
			<true/>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>FE684E2C-5497-4663-B3E5-9919171219AB</string>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string></string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>-568</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>-ipad@2x</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
	</array>
	<key>gameWorld</key>
	<dict>
		<key>1024x768</key>
		<string>{{-0.10499513149261475, -0.13642559945583344}, {1.2245466709136963, 1.2823352813720703}}</string>
		<key>1136x640</key>
		<string>{{-0.10499513149261475, -0.13642559945583344}, {1.2245466709136963, 1.2823352813720703}}</string>
		<key>2048x1536</key>
		<string>{{-0.13242380321025848, -0.18801453709602356}, {1.2632724046707153, 1.3726636171340942}}</string>
		<key>960x640</key>
		<string>{{-0.154158815741539, -0.17084047198295593}, {1.2915242910385132, 1.3470569849014282}}</string>
		<key>general</key>
		<string>{{-0.13242380321025848, -0.18801453709602356}, {1.2632724046707153, 1.3726636171340942}}</string>
	</dict>
	<key>globalGravityDirection</key>
	<string>{0, -1}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>EAE5CE96-2701-4233-A8FD-750A01F9FCB5</string>
</dict>
</plist>
