<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.5, 0.5}</string>
	<key>assetUUID</key>
	<string>74DEA40F-DB22-4E16-AD57-B209DD181A47</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{-0.0015593762625940144, -0.065887132828356704}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>fixtureUUID</key>
						<string>97ABEBE6-EB1A-4E06-9435-AA777268278D</string>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>5</integer>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>5ED60287-5EF0-4D07-B9D4-8D548ED18A12</string>
					<key>relativeImagePath</key>
					<string>levels/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.3232932090759277, -0.69694840908050537}</string>
					<key>size</key>
					<string>{88, 65}</string>
					<key>spriteName</key>
					<string>object_bananabunch</string>
					<key>spriteUUID</key>
					<string>60F9EAC9-FDD1-4EAB-811D-7A0EF562B591</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>EEFA87C8-2FEE-4CBF-AE21-62A8CBB530AE</string>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{-0.058957897083989033, 0.0064778288651723415}</string>
			<key>imageFileName</key>
			<string>robots.png</string>
			<key>name</key>
			<string>greenRobot</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>688094C0-2E03-4B6F-AF15-7F620E36F680</string>
			<key>relativeImagePath</key>
			<string>levels/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{130, 150}</string>
			<key>spriteName</key>
			<string>greenRobot</string>
			<key>spriteUUID</key>
			<string>9C8173A8-5D80-4F56-AFDB-115E6D744990</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>5ED60287-5EF0-4D07-B9D4-8D548ED18A12</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.5, 0.5}</string>
					<key>colorOverlay</key>
					<string>{{1, 1}, {1, 1}}</string>
					<key>generalPosition</key>
					<string>{0.01275704151582128, -0.079391448434034825}</string>
					<key>imageFileName</key>
					<string>objects.png</string>
					<key>name</key>
					<string>object_1</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>fixtureUUID</key>
						<string>5F2D23A1-3245-4BE7-98AD-83773F248DC2</string>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>fixtureID</key>
							<integer>0</integer>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<false/>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>shape</key>
						<integer>5</integer>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>994F1C15-53B5-4238-B4D2-C1620BAC62D8</string>
					<key>relativeImagePath</key>
					<string>levels/</string>
					<key>rotation</key>
					<real>24.479269027709961</real>
					<key>scale</key>
					<string>{1, 1}</string>
					<key>size</key>
					<string>{122, 75}</string>
					<key>spriteName</key>
					<string>object_hat</string>
					<key>spriteUUID</key>
					<string>A0CC7494-203E-4C79-A14A-ECA50F1FBA3D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>D67A081E-3ABB-41F0-BC36-5DD68904D8CD</string>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.060236664609207465, 0.005945719499140978}</string>
			<key>imageFileName</key>
			<string>robots.png</string>
			<key>name</key>
			<string>pinkRobot</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>688094C0-2E03-4B6F-AF15-7F620E36F680</string>
			<key>relativeImagePath</key>
			<string>levels/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{130, 150}</string>
			<key>spriteName</key>
			<string>pinkRobot</string>
			<key>spriteUUID</key>
			<string>68189927-8EF2-4BEE-BDC3-20BA98F11C64</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>994F1C15-53B5-4238-B4D2-C1620BAC62D8</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1, 1}, {1, 1}}</string>
	<key>generalPosition</key>
	<string>{0.066666666666666666, 0.10000000000000001}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>A3F0A8A8-CA41-406E-98C7-3166563ED4D5</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1, 1}</string>
	<key>size</key>
	<string>{250.78436279296875, 186.02983093261719}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>tracedFixtures</key>
	<dict>
		<key>5F2D23A1-3245-4BE7-98AD-83773F248DC2</key>
		<array>
			<array>
				<string>{13.5, 30.5}</string>
				<string>{-5, 30.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{34.5, -5.5}</string>
				<string>{35, 27}</string>
				<string>{23.5, 29.5}</string>
			</array>
			<array>
				<string>{23.5, 29.5}</string>
				<string>{13.5, 30.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{34.5, -5.5}</string>
				<string>{23.5, 29.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{31, -17.5}</string>
				<string>{34.5, -5.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{29, -21.5}</string>
				<string>{31, -17.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{25, -26.5}</string>
				<string>{29, -21.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{19.5, -29.5}</string>
				<string>{25, -26.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{14.5, -31}</string>
				<string>{19.5, -29.5}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{7.5, -32}</string>
				<string>{14.5, -31}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{7.5, -32}</string>
				<string>{-6, -31.5}</string>
				<string>{-5.5, -32}</string>
			</array>
			<array>
				<string>{-35, -3.5}</string>
				<string>{-5, 30.5}</string>
				<string>{-27.5, 28.5}</string>
			</array>
			<array>
				<string>{-35, -3.5}</string>
				<string>{-27.5, 28.5}</string>
				<string>{-39.5, 26}</string>
			</array>
			<array>
				<string>{-46, 2}</string>
				<string>{-35, -3.5}</string>
				<string>{-39.5, 26}</string>
			</array>
			<array>
				<string>{-46, 2}</string>
				<string>{-39.5, 26}</string>
				<string>{-50.5, 21}</string>
			</array>
			<array>
				<string>{-53, 9}</string>
				<string>{-46, 2}</string>
				<string>{-50.5, 21}</string>
			</array>
			<array>
				<string>{-53, 9}</string>
				<string>{-50.5, 21}</string>
				<string>{-54, 16.5}</string>
			</array>
			<array>
				<string>{-53, 9}</string>
				<string>{-54, 16.5}</string>
				<string>{-54, 11}</string>
			</array>
			<array>
				<string>{-5, 30.5}</string>
				<string>{-35, -3.5}</string>
				<string>{-31.5, -14.5}</string>
				<string>{-27, -22.5}</string>
				<string>{-22.5, -27}</string>
				<string>{-19, -29}</string>
				<string>{-12.5, -31}</string>
				<string>{-6, -31.5}</string>
			</array>
			<array>
				<string>{53.5, 13.5}</string>
				<string>{49.5, 19.5}</string>
				<string>{45.5, 22.5}</string>
				<string>{35, 27}</string>
				<string>{34.5, -5.5}</string>
				<string>{47, -1}</string>
				<string>{52.5, 4.5}</string>
				<string>{54, 10}</string>
			</array>
		</array>
		<key>97ABEBE6-EB1A-4E06-9435-AA777268278D</key>
		<array>
			<array>
				<string>{2.75, -10}</string>
				<string>{25.75, -26.5}</string>
				<string>{30.75, -25.5}</string>
				<string>{31.25, -16.5}</string>
				<string>{30.25, 17.5}</string>
				<string>{19.25, 24}</string>
				<string>{6.25, 27}</string>
			</array>
			<array>
				<string>{31.25, -16.5}</string>
				<string>{36.75, -15}</string>
				<string>{38.25, -11.5}</string>
				<string>{39.75, 3}</string>
				<string>{37.25, 9}</string>
				<string>{30.25, 17.5}</string>
			</array>
			<array>
				<string>{-24.25, -23}</string>
				<string>{-23.75, -14}</string>
				<string>{-33.75, -11}</string>
			</array>
			<array>
				<string>{-24.25, -23}</string>
				<string>{-33.75, -11}</string>
				<string>{-36.75, -15}</string>
			</array>
			<array>
				<string>{-24.25, -23}</string>
				<string>{-36.75, -15}</string>
				<string>{-36.75, -21}</string>
			</array>
			<array>
				<string>{-29.75, -27}</string>
				<string>{-24.25, -23}</string>
				<string>{-36.75, -21}</string>
			</array>
			<array>
				<string>{-29.75, -27}</string>
				<string>{-36.75, -21}</string>
				<string>{-35.75, -24}</string>
			</array>
			<array>
				<string>{-29.75, -27}</string>
				<string>{-35.75, -24}</string>
				<string>{-33.75, -26.5}</string>
			</array>
			<array>
				<string>{-29.75, -27}</string>
				<string>{-33.75, -26.5}</string>
				<string>{-33.25, -27}</string>
			</array>
			<array>
				<string>{-33.25, 10.5}</string>
				<string>{-36.25, 2.5}</string>
				<string>{-33.75, -11}</string>
				<string>{-23.75, -14}</string>
				<string>{-16.25, -9.5}</string>
				<string>{-25.75, 19}</string>
			</array>
			<array>
				<string>{-17.25, 24}</string>
				<string>{-25.75, 19}</string>
				<string>{-16.25, -9.5}</string>
				<string>{-10.75, -8}</string>
				<string>{-11.25, 26}</string>
			</array>
			<array>
				<string>{-5.25, 27}</string>
				<string>{-11.25, 26}</string>
				<string>{-10.75, -8}</string>
				<string>{-4.75, -8}</string>
				<string>{6.25, 27}</string>
			</array>
			<array>
				<string>{6.25, 27}</string>
				<string>{-4.75, -8}</string>
				<string>{2.75, -10}</string>
			</array>
		</array>
	</dict>
	<key>uuid</key>
	<string>688094C0-2E03-4B6F-AF15-7F620E36F680</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
